---
import ButtonSecondary from '../components/ButtonSecondary.astro';
import SliderHalf from '../components/Home/SliderHalf.astro';
import SliderServices from '../components/Home/SliderServices.astro';
import Layout from '../layouts/Layout.astro';
import video from "../video/video.mp4";


import "../styles/index.scss";
---

<Layout title="Meta Consulting.">
	<main>
		<section class="hero"   id="hero">
			<div class="services uk-height-1-1 uk-container-large uk-margin-auto">
				<div class="uk-child-width-expand@s uk-height-1-2 uk-flex uk-flex-middle "  uk-grid>
					<div>
						<div class="uk-padding">
							<h1 class="uk-text-bold title white">META CONSULTORES</h1>
							<p  class="subtitle white">Expertos en consultoría</p>
							<p  class="paragraph white">Somos una firma consultora en recursos humanos, consciente de que el talento humano es el principal recurso de las organizaciones, por eso enfocamos nuestros esfuerzos en gestionarlo de manera eficiente. </p>
						</div>
					</div>
					<div>
					</div>
				</div>
				<div>
					<SliderServices></SliderServices>
				</div>
					
	
			</div>
			
		</section>
		<section class="uk-container" id="nosotros">
			<div class=" uk-child-width-expand@s  uk-padding" uk-grid>
				<div  uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
					<video controls  src={video}  poster="images/LOGO.png" width="100%"></video>
				 </div>
				<div class="uk-flex uk-flex-middle" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
					<div>
						<h2 class="subtitle uk-text-bold primary">NOSOTROS</h2>
						<p class="paragraph">Somos un grupo de personas, que se encarga de gestionar la calidad de vida laboral y profesional de otras personas. En Meta Consultores somos consciente de que el talento humano es el principal recurso de las organizaciones, por eso enfocamos nuestros esfuerzos en gestionarlo de manera eficiente. </p>
						<ButtonSecondary name="Conocenos" route="/nosotros"></ButtonSecondary>
					</div>
				</div>
				
			</div>
	
		</section>
		<section>
			<SliderHalf></SliderHalf>
		</section>
	</main>
	
</Layout>

<style>
	.uk-height-1-2{
		height: 70%;
	}
	video{
		height: 500px;
	}
	
	
</style>../data