<div
  class="uk-position-relative uk-visible-toggle uk-light"
  tabindex="-1"
  uk-slider
>
  <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-3@m">
    <li class="uk-padding">
      <h3 class="subtitle white">servicio1</h3>
      <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nisi ipsam nemo recusandae? Alias, ex expedita. Fuga harum nostrum consequatur odio animi, sit esse praesentium laudantium ex? A, cumque soluta!</p>
      <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="copy"></a>
    </li>
    <li class="uk-padding">
        <h3 class="subtitle white">servicio2</h3>
      <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nisi ipsam nemo recusandae? Alias, ex expedita. Fuga harum nostrum consequatur odio animi, sit esse praesentium laudantium ex? A, cumque soluta!</p>

    </li>
    <li class="uk-padding">
        <h3 class="subtitle white">servicio3</h3>
      <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nisi ipsam nemo recusandae? Alias, ex expedita. Fuga harum nostrum consequatur odio animi, sit esse praesentium laudantium ex? A, cumque soluta!</p>

    </li>
  </ul>

  <a
    class="uk-position-center-left uk-position-small uk-hidden-hover"
    href
    uk-slidenav-previous
    uk-slider-item="previous"></a>
  <a
    class="uk-position-center-right uk-position-small uk-hidden-hover"
    href
    uk-slidenav-next
    uk-slider-item="next"></a>
</div>

<style lang="scss">
  .uk-slider-items {
    height: 30vh;
    li:nth-child(1) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.9)
        ),
        url("images/home/service1.png");
      background-size: cover; /* La imagen se ajustará al tamaño del contenedor sin repetirse */
      background-position: center center; /* La imagen se centrará en el div */
      background-repeat: no-repeat;
    }
    li:nth-child(1):hover {
        background-image: linear-gradient(0deg, rgba(0, 24, 74, 0.9), rgba(0, 24, 74, 0.9)), url("images/home/service1.png");
    }
    li:nth-child(2) {

      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.9)
        ),
        url("images/home/service2.png");
      background-size: cover; /* La imagen se ajustará al tamaño del contenedor sin repetirse */
      background-position: center center; /* La imagen se centrará en el div */
      background-repeat: no-repeat;
    }
    li:nth-child(2):hover {
        background-image: linear-gradient(0deg, rgba(0, 24, 74, 0.9), rgba(0, 24, 74, 0.9)), url("images/home/service2.png");
    }
    li:nth-child(3) {
     
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.9)
        ),
        url("images/home/service3.png");
      background-size: cover; /* La imagen se ajustará al tamaño del contenedor sin repetirse */
      background-position: center center; /* La imagen se centrará en el div */
      background-repeat: no-repeat;
    }
    li:nth-child(3):hover {
        background-image: linear-gradient(0deg, rgba(0, 24, 74, 0.9), rgba(0, 24, 74, 0.9)), url("images/home/service3.png");
    }
  }
</style>
