<footer>
  <div class="uk-child-width-expand@s uk-text-center uk-padding" uk-grid>
    <div><img src="/images/LOGO_FOOTER.png" alt="" width="60" /></div>
    <nav class="uk-navbar-container">
      <div class="uk-container">
        <div uk-navbar>
          <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
              <li class="uk-text-bold"><a href="/">Inicio</a></li>
              <li class="uk-text-bold"><a href="/nosotros/">Nosotros</a></li>
              <li class="uk-text-bold"><a href="/servicios/">Servicios</a></li>
              <li class="uk-text-bold"><a href="/contacto">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div>hola</div>
  </div>
</footer>

<style lang="scss">
    nav{
        background-color: #282828 !important;
        ul > li {
            color: white !important;
        }
    }
    .uk-navbar-nav{
     li > a{
      color:  var(--secondary) !important;
    }
  }
</style>
