---
import ButtonPrimary from '../../components/ButtonPrimary.astro';



---

<div class="uk-padding uk-flex uk-flex-middle">
    <div>
        <h2 class="subtitle white uk-text-bold" >¿Quieres saber más? ¡Contáctanos</h2>
    
        <form action="https://formspree.io/f/mleyqdjr" method="POST">
            <div class="uk-margin">
                <lable class="paragraph uk-text-bold white">Nombre</lable>
                <input class="input" id="name" name="name" type="text" placeholder="" aria-label="Large">
            </div>
        
            <div class="uk-margin">
                <lable class="paragraph uk-text-bold white">Correo electrónico</lable>
                <input class="input" id="email" name="email" type="email" placeholder="" aria-label="Default">
            </div>
        
            <div class="uk-margin">
                <lable class="paragraph uk-text-bold white">Teléfono</lable>
                <input class="input" id="phone" name="phone" type="text" placeholder="" aria-label="Small">
            </div> 
            <butto class="btn-primary uk-margin-top" type="submit">Enviar</butto>

        </form>
       
    </div>
</div>

<style lang="scss">
    input {
    display: block;
    width: 70%;
    height: 30px;
    padding: 8px 16px;
    border: 1px solid #D4D4D4;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    }
</style>